:root{
    --cor-de-fundo: #00090E;
    --cor-de-texto: #E1E1E1;
    --cor-primaria: #7C00FE;
    --cor-secundaria: #888888;
    --cor-tag: #171D1F;
    --font-family: "Prompt", sans-serif;
    --itens-de-fundo: #171D1F;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    gap: 27px;
    padding: 56px 0;
}

aside{
    background-color: var(--itens-de-fundo);
    border-radius: 10px;

    padding: 40px 16px;
    text-align: center;

}

.lista-links{
    display:flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    align-items: center;
    list-style-type: none;
}

.lista-links li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
    align-items: center;
    color: var(--cor-de-texto);
    font-size: 20px;
}

.lista-links li:first-of-type a{
    color: var(--cor-primaria);
}

.botao-destaque{
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid var(--cor-primaria);
}

.botao-destaque:hover{
    background-color: var(--cor-secundaria);
}

main{
    background-color: var(--itens-de-fundo);
    border-radius: 10px;
    padding: 32px;
    display: flex;
    gap: 24px;
}

h2{
    color: #7C00FE;
    font-family: var(--font-family);
    font-size: 32px;
    margin-bottom: 40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form div label{
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
}

form div input, textarea{
    width: 100%;
    padding: 8px 16px;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 4px;
    font-family: var(--font-family);
    line-height: 22.5px;
}

form div input{
    height: 40px;
}
textarea{
    height: 160px;
}

.lista-tags li{
    display: flex;
    background-color: var(--cor-secundaria);
    color: var(--cor-de-fundo);
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
}

.lista-tags{
    display: flex;
}

.container-botoes{
    display: flex;
    gap: 24px;
    justify-content: space-between;

}

.container-botoes button{
    width: 50%;
    padding: 12px 32px 12px 12px;
    text-align: center;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
}

.botao-descartar{
    background-color: var(--itens-de-fundo);
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    position: relative;
    cursor: pointer;
}

.botao-descartar::after{
    content: "";
    background-image: url("./img/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.botao-descartar:hover{
    background-color: var(--cor-secundaria);
    font-weight: bold;
}

.botao-publicar{
    background-color: var(--cor-primaria);
    color: var(--cor-de-fundo);
    border: 2px solid var(--cor-primaria);
    position: relative;
    cursor: pointer;
}

.botao-publicar::after{
    content: "";
    background-image: url("./img/upload.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.botao-publicar:hover{
    background-color: #9FB4FF;
    font-weight: bold;
}

.container-descricao {
    width: 422px;
}

.main-imagem{
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}

.container-imagem {
    height: 368px;
    padding: 24px 16px;
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    border: 2px dashed var(--cor-primaria);
}

.container-upload-imagem button{
    margin: 16px 0 8px 0;
    background-color: var(--itens-de-fundo);
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    width: 100%;
    text-align: center;
    color: var(--cor-secundaria);
    padding: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.container-upload-imagem button::after{
    content: "";
    background-image: url("./img/upload.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.container-imagem-nome{
    display: flex;
    gap: 8px;
    color: var(--cor-secundaria);
    font-size: 15px;
}